<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/series-label.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <title>分析一</title>
</head>
<body>
<div id="container1" style="max-width:100%;height:100%"></div>
<div id="container2" style="max-width:100%;height:100%"></div>
<div id="container3" style="max-width:100%;height:100%"></div>
<div id="container4" style="max-width:100%;height:100%"></div>
<div id="container5" style="max-width:100%;height:100%"></div>
<div id="container6" style="max-width:100%;height:100%"></div>
<div id="container" style="max-width:100%;height:100%"></div>
<script>
    var chart1 = Highcharts.chart('container1', {
        title: {
            text: '红球1情况'
        },
        yAxis: {
            title: {
                text: '号码'
            }
        },
        series: [{
            name: '红球1',
            data: {{ redBalls1 }}
        }]
    });
    var chart2 = Highcharts.chart('container2', {
        title: {
            text: '红球2情况'
        },
        yAxis: {
            title: {
                text: '号码'
            }
        },
        series: [{
            name: '红球2',
            data: {{ redBalls2 }}
        }]
    });
    var chart3 = Highcharts.chart('container3', {
        title: {
            text: '红球3情况'
        },
        yAxis: {
            title: {
                text: '号码'
            }
        },
        series: [{
            name: '红球3',
            data: {{ redBalls3 }}
        }]
    });
    var chart4 = Highcharts.chart('container4', {
        title: {
            text: '红球4情况'
        },
        yAxis: {
            title: {
                text: '号码'
            }
        },
        series: [{
            name: '红球4',
            data: {{ redBalls4 }}
        }]
    });
    var chart5 = Highcharts.chart('container5', {
        title: {
            text: '红球5情况'
        },
        yAxis: {
            title: {
                text: '号码'
            }
        },
        series: [{
            name: '红球5',
            data: {{ redBalls5 }}
        }]
    });
    var chart6 = Highcharts.chart('container6', {
        title: {
            text: '红球6情况'
        },
        yAxis: {
            title: {
                text: '号码'
            }
        },
        series: [{
            name: '红球6',
            data: {{ redBalls6 }}
        }]
    });
    var chart = Highcharts.chart('container', {
        title: {
            text: '蓝球情况'
        },
        yAxis: {
            title: {
                text: '号码'
            }
        },
        series: [{
            name: '蓝球',
            data: {{ blueBalls }}
        }]
    });
</script>
</body>
</html>